*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;   
}
body{
    background: #e9e9e9;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
  
html::-webkit-scrollbar {
    width: 1rem;
}
  
html::-webkit-scrollbar-track {
    background: #fff;
}
  
html::-webkit-scrollbar-thumb {
    background: #10221b;
}

.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    z-index: 11000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding:2rem;    
 }
 .message span{
    font-size: 2rem;
    color: #5a5a5a;
 }
 
 .message i{
    cursor: pointer;
    color: #10221b;
    font-size: 2.5rem;
 }
 .message i:hover{
    transform: rotate(90deg);
 }

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #10221b;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    text-decoration: none;   
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: 500;
  }
  
  .btn:hover {
    background: #aaa;
    color: #10221b;
    letter-spacing: 6px;
    font-weight: 700;
  }
  section {
    padding: 5rem 9%;
  }  
  
.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 100px;  
    z-index: 10000;
    top: 0;
    right: 0;
}
  
.header.active {
    background: #f3f3f3;    
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
  
.header .logo {
    position: relative;
    display: inline-flex;    
}
  
.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: #10221b;    
}


.header .navbar a:hover {
    color: #219150;
}
  
.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}
  
.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
}
  
.header .icons a:hover,
.header .icons div:hover {
    color: #219150;
}
  
.header #menu-btn {
    display: none;
}
  
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}
  
.search-form.active {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}
  
.search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
}
  
.search-form #close-search:hover {
    color: #219150;
}
  
.search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
  
.search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
}
  
.search-form form input::-webkit-input-placeholder {
    color: #aaa;
}
  
.search-form form input:-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::-ms-input-placeholder {
    color: #aaa;
}
  
.search-form form input::placeholder {
    color: #aaa;
}
  
.search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
}
  
.search-form form label:hover {
    color: #219150;
}

.home {
    padding: 0;
}

.home .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box.second {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.home .box .content {
    width: 115rem;    
}

.home .box .content span {
    font-size: 3rem;
    color: #10221b;
}

.home .box .content h3 {
    font-size: 5rem;
    color: #219150;
    padding-top: .5rem;
    text-transform: uppercase;
}
  
.home .box .content p {
    line-height: 2;
    color: #10221b;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-transform: none;
    font-style: italic;
}
.home:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg,#e9e9e9,transparent);
    pointer-events: none;
}
  
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
    color: #10221b;
}

.titles{
    width: 100%;
    text-align: center;
}

.titles h2{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin-top: -30px;
    margin-bottom: 50px;
    color: #10221b;
    text-transform: none;
}
.titles span{
    color: rgb(240, 190, 63);
    font-weight: 700;
    font-size: 1.5em;
}
.titles h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: #10221b;
}

.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox{
    width: 49%;
    min-width: 49%;
}

.about .sobre{
    font-size: 19px;
    text-transform: none;
    letter-spacing: 1px;   
}


.about .content .imgBx{
    margin-left: 80px;
}

.about .content .imgBx img{
    max-width: 100%;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.row .info-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
  }

.row .info-container h1{
    font-size: 2.5rem;
    color: #10221b;
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-top: 10rem;
}

.bx-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.bx{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
}

.bx h3{
    font-size: 1.6rem;
    color: #10221b;
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 1px;
}

.bx span{
    color: #219150;
    font-weight: lighter;
}

.row .count-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: -70px;
}

.row .count-container .bx {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    padding: 3rem 4rem;
    border-radius: .5rem;
    background: #f2f2f2;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);   
}
.row .count-container .bx:hover{
    background: #5a5a5a;
} 

.row .count-container .bx h3 {
    font-size: 3rem;
    color: #10221b;
    font-weight: 700;
}

.row .count-container .bx p {
    font-size: 1.5rem;
    color: #219150;
    font-weight: 500;
}

.row .count-container .bx:hover h3,
.row .count-container .bx:hover p{
    color: #fff;
} 

.skill{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
}
 
.skill .titlee{
    font-size: 2rem;
    color:#10221b;
    text-align: center;
    padding-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 30px;
}

 
.skill .boxx{
    flex:1 1 41rem;
}
 
.skill .boxx .progress{
    padding:1rem 0;
}
 
.skill .boxx .progress h3{
    font-size: 2rem;
    color:#10221b;
    display: flex;
    justify-content: space-between;
}
 
.skill .boxx .progress h3 span{
    color:rgb(61, 60, 60);
}
 
.skill .boxx .progress .bart{
    height: 2rem;
    border:.2rem solid #10221b;
    padding:.5rem;
    margin-top: 1rem;
}
 
.skill .boxx .progress .bart span{
    display: block;
    background: #7fc49c;
    height: 100%;
    width: 95%;
}
 
.skill .boxx .progress.progress-1 .bart span{
    width: 90%;
}
 
.skill .boxx .progress.progress-2 .bart span{
    width: 90%;
}
 
.skill .boxx .progress.progress-3 .bart span{
    width: 60%;
}
 
.skill .boxx .progress.progress-4 .bart span{
    width: 80%;
}
 
.skill .boxx .progress.progress-5 .bart span{
    width: 85%;
}
 
.skill .boxx .progress.progress-6 .bart span{
    width: 80%;
}
 
.skill .boxx .progress.progress-7 .bart span{
    width: 80%;
}
.skill .boxx .progress.progress-8 .bart span{
    width: 70%;
}
.skill .boxx .progress.progress-9 .bart span{
    width: 80%;
}
.skill .boxx .progress.progress-10 .bart span{
    width: 60%;
}
.skill .boxx .progress.progress-11 .bart span{
    width: 65%;
}
.skill .boxx .progress.progress-12 .bart span{
    width: 40%;
}

.services .boxx-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
    margin-bottom: 100px;
}

.services .boxx-container .boxxx{
    padding:3rem 2rem;
    border:.2rem solid #10221b;    
    text-align: center;
}

.services .boxx-container .boxxx img{
    height: 10rem;
    margin-bottom: 1rem;
}

.services .boxx-container .boxxx h3{
    font-size: 2.5rem;   
    color: #10221b;         
}

.services .boxx-container .boxxx p{
    font-size: 2.5rem;
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #10221b;
}

.services .boxx-container .boxxx:hover{
    background:#5a5a5a;
}

.services .boxx-container .boxxx:hover p,
.services .boxx-container .boxxx:hover h3{
   color:#fff;
}

.services .boxx-container .boxxx:hover .btn1:hover{
    background: #f2f2f2;
    color:#10221b;
    font-weight: 600;
    border:.2rem solid #10221b;
 }

.services .boxx-container .boxxx .btn1{
    display: block;
    margin-top: 1rem;
    padding:1rem 3rem;
    background: #10221b;
    border:.2rem solid #10221b;
    color:#f2f2f2;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 600;
 }

 .projects{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}

 .gallery{
    min-height: 100vh;
    background:#eee;
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:40px;
    width: 140px;
    background:#fff;
    color:#666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin:20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:#10221b;
    color:#fff;
}

.gallery .controls .buttons:hover{
    background: #7fc49c;
    color: #f2f2f2;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

.container2{
    max-width: 1200px;
    margin:100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:20px;
    margin-bottom: 50px;
 }
 
 
 .container2 .main-video-container{
    flex:1 1 700px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding:15px;
 }
 
 .container2 .main-video-container .main-video{
    margin-bottom: 7px;
    border-radius: 5px;
    width: 100%;
 }
 
 .container2 .main-video-container .main-vid-title{
    font-size: 20px;
    color:#10221b;
 }
 
 .container2 .video-list-container{
    flex:1 1 350px;
    height: 485px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    background-color: #fff;
    padding:15px;
 }
 
 .container2 .video-list-container::-webkit-scrollbar{
    width: 10px;
 }
 
 .container2 .video-list-container::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 5px;
 }
 
 .container2 .video-list-container::-webkit-scrollbar-thumb{
    background-color: #10221b;
    border-radius: 5px;
 }
 
 .container2 .video-list-container .list{
    display: flex;
    align-items: center;
    gap:15px;
    padding:10px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
 }
 
 .container2 .video-list-container .list:last-child{
    margin-bottom: 0;
 }
 
 .container2 .video-list-container .list.active{
    background-color: #10221b;
 }
 
 .container2 .video-list-container .list.active .list-title{
    color:#fff;
 }
 
 .container2 .video-list-container .list .list-video{
    width: 100px;
    border-radius: 5px;
 }
 
 .container2 .video-list-container .list .list-title{
    font-size: 17px;
    color:#10221b;
 }

 .reviews{
    background: url(../image/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
 }

 .reviews h2{
    color: #ccc;
 }

 .reviews .slide .text {
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    background: #eee;
    border-radius: .5rem;
    color: #10221b;
    line-height: 2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
    text-transform: none;
    
  }
  
  .reviews .slide .text::before {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: .7rem;
    height: 3rem;
    width: 3rem;
    background: #eee;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .reviews .slide .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  
.reviews .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}
  
.reviews .slide .user h3 {
    font-size: 2rem;
    color: #f2f2f2;
    font-weight: bold;
}
  
.reviews .slide .user span {
    color: #219150;
    font-size: 1.5rem;
}

.quick-contact{
    padding: 140px 0 135px 0;
    position: relative;
    width: 100%;
}
.text-left-center{
    text-align: center;
}
h5{
    font-size: .875rem;
line-height: 1.25rem;
text-transform: uppercase;
padding-top: 5px;
padding-bottom: 5px;
font-weight: 600;
letter-spacing: .4em;
color: #5a5a5a;
margin-bottom: 30px;
}
h1.large{
    font-size: 4.5rem;
    line-height: 4.6875rem;
    padding-top: 1px;
    padding-bottom: 4px;
    font-weight: 800;
color: #10221b;
}
a.with-icon {
    position: relative;
    color: #10221b;
    border: 0 none;
    display: inline-block;
    line-height: 1;
}
.keep-together {
    display: inline-block;
  }

.icon{
    display: inline-flex;
}

.contact{
    background: url(../image/backContact.jpg);
    background-size: cover;
    background-position: center;
}
.contactForm{
    padding: 75px 50px;
    background: transparent;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3{
    color: #10221b;
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #10221b;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
}
.contactForm .inputBox input[type="submit"]{
    font-size: 1.5rem;
    color: #fff;
    background: #10221b;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
  
.contactForm .inputBox input[type="submit"]:hover {
    background: #aaa;
    color: #10221b;
    letter-spacing: 6px;
    font-weight: 700;
  }

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #eeeff1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 25%;
}
footer .container .sec.aboutus h2{
    position: relative;
    color: #10221b;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
}

footer .container .sec.contact1 h2{
    position: relative;
    color: #10221b;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
}

footer .container .sec.aboutus h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .sec.contact1 h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .sec.aboutus p {
    color: #5a5a5a;
    font-size: 12px;
    text-transform: none;
}

footer .container .sec.contact1 p{
    color: #5a5a5a;
    font-size: 12px;
    text-transform: none;
    margin-bottom: 5px;
}
.sci1{
    margin-top: 58px;
    display: flex;
}
.sci1 li{
    list-style: none;
}
.sci1 li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #10221b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px; 
    margin-top: -30px;   
}
.sci1 li a:hover{
    background: #f00;
}
.sci1 li a .fab{
    color: #f2f2f2;
    font-size: 20px;
}

.mpBox{
    position: relative;
    width: 40%;
}
.contact1{
    width: calc(35% - 60px);
    margin: 0!important;
}
.contact1 .info{
    position:  relative;
}
.contact1 .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact1 .info li span:nth-child(1){
    color: #10221b;
    font-size: 20px;
    margin-right:10px;
}
.contact1 .info li span{
    color: #5a5a5a;
    font-size: 14px;   
}
.contact1 .info li a{
    color: #5a5a5a;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
}
.contact1 .info li a:hover{
    color: #7fc49c;
}
.copyrightText3{
    width: 100%;
    background: #10221b;
    color: #fff;
    padding: 8px 100px;    
    text-align: center;   
    font-size: 12px; 
}




@media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }

    footer{
        padding: 40px;
    }  
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .mapBox,.contact1{
        width: 100%;       
    }
    footer .sec.contact1 h2{
        margin-top: 40px;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
    .home .box {
      padding: 2rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-position: right !important;
    }
    .home .box.second {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-position: left !important;     
    }
    .home .box .content {
      text-align: center;
    }
    .home .box .content span {
      font-size: 3rem;
    }
    .home .box .content h3 {
      font-size: 4rem;
    }

    .titles h2{
        margin-top: -20px;
        font-size: 18px;
    }

    .about .content{
        flex-direction: column;
    }
    .about .content .textBox{
        width: 100%;
        max-width: 100%;               
    }
    .about .content .textBox p{
       font-size: 14px;  
       margin-left: 10px;             
    }
    .about .content .imgBx{
        margin-left: 0px;
        margin-top: 20px;
    }
    .row .info-container h1{
        text-align: center;
    }
    .count-container .bx{
        margin-top: 60px;
    }    
    
    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }    

    footer{
        padding: 40px;
    }  
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .mapBox,.contact1{
        width: 100%;       
    }
    footer .sec.contact1 h2{
        margin-top: 40px;
    }
    .copyrightText3{
        padding: 8px 40px;
    }    
  }
  
  @media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    footer .container{
        flex-direction: column;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading {
      font-size: 3rem;
    }
  }